.counter__heading {
	font-size: 1.25rem;
}

.counter__btns {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

@media screen and (min-width: 720px) {
	.counter__heading {
		font-size: 2rem;
	}

	.counter__btns {
		flex-direction: row;
	}

	.btn {
		cursor: pointer;
	}

	.btn:hover {
		background-color: lightblue;
		color: #ffffff;
	}
}



