.counter__heading {
	font-size: 1.25rem;
}

.counter__btns {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.counter__value.counter__value-zero {
  color: blue;
}

.counter__value.counter__value-positive {
  color: green;
}

.counter__value.counter__value-negative {
  color: tomato;
}

@media screen and (width >= 45rem) {
	.counter__heading {
		font-size: 2rem;
	}

	.counter__btns {
		flex-direction: row;
	}

	.btn {
		cursor: pointer;
	}

	.btn:hover {
		background-color: lightblue;
		color: #ffffff;
	}
}



